<mat-card class="p-0">
    <mat-card-title class="title">
        <div class="card-title-text" *ngIf="!user._id">Add Photographer</div>
        <div class="card-title-text" *ngIf="user._id">Edit Photographer</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="userFrom" (ngSubmit)="onSubmit()">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="uname" placeholder="User name" [formControl]="userFrom.controls['userName']" [(ngModel)]="user.userName">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput type="email" name="email" placeholder="Email" [formControl]="userFrom.controls['email']" [(ngModel)]="user.email">
                        </mat-form-field>
                    </div>
                    <div class="pb-1" *ngIf="!user._id">
                        <mat-form-field class="full-width">
                            <mat-select name="sex" placeholder="Gender" [formControl]="userFrom.controls['sex']" [(ngModel)]="user.sex">
                                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                    {{gender.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="pb-1" *ngIf="user._id">
                        <mat-form-field class="full-width">
                            <input matInput name="address_line" placeholder="Address Line" [formControl]="userFrom.controls['addressLine1']" [(ngModel)]="user.addressLine1">
                        </mat-form-field>
                    </div>
                    <div class="pb-1" *ngIf="!user._id">
                        <mat-form-field class="full-width">
                            <input matInput name="city" placeholder="City" [formControl]="userFrom.controls['city']" [(ngModel)]="user.city">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="zip_code" placeholder="Zip Code" maxlength="6" [formControl]="userFrom.controls['zipCode']" [(ngModel)]="user.zipCode">
                        </mat-form-field>
                    </div>

                </div>

                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="lname" placeholder="Last name" [formControl]="userFrom.controls['lastName']" [(ngModel)]="user.lastName">
                        </mat-form-field>
                    </div> -->
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="phone" placeholder="Phone number" maxlength="10" [formControl]="userFrom.controls['phoneNumber']" [(ngModel)]="user.phoneNumber">
                        </mat-form-field>
                    </div>
                    <div class="pb-1" *ngIf="!user._id">
                        <mat-form-field class="full-width">
                            <input matInput [type]="show ? 'password' : 'text'" name="password" placeholder="Password" [formControl]="userFrom.controls['password']" [(ngModel)]="user.password">
                            <mat-icon class="cursor-pointer" matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="pb-1" *ngIf="user._id">
                        <mat-form-field class="full-width">
                            <mat-select name="sex" placeholder="Gender" [formControl]="userFrom.controls['sex']" [(ngModel)]="user.sex">
                                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                    {{gender.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="pb-1" *ngIf="!user._id">
                        <mat-form-field class="full-width">
                            <input matInput name="address_line" placeholder="Address Line" [formControl]="userFrom.controls['addressLine1']" [(ngModel)]="user.addressLine1">
                        </mat-form-field>
                    </div>

                    <div class="pb-1" *ngIf="user._id">
                        <mat-form-field class="full-width">
                            <input matInput name="city" placeholder="City" [formControl]="userFrom.controls['city']" [(ngModel)]="user.city">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="country" placeholder="Country" [formControl]="userFrom.controls['country']" [(ngModel)]="user.country">
                        </mat-form-field>
                    </div>
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="lat" placeholder="Lat" [formControl]="userFrom.controls['lat']" [(ngModel)]="user.lat">
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="long" placeholder="Long" [formControl]="userFrom.controls['long']" [(ngModel)]="user.long">
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="stripe_token" placeholder="Stripe Token" [formControl]="userFrom.controls['stripeToken']" [(ngModel)]="user.stripeToken">
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="stripeKey" placeholder="Stripe Key" [formControl]="userFrom.controls['stripeKey']" [(ngModel)]="user.stripeKey">
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="deviceToken" placeholder="Device Token" [formControl]="userFrom.controls['deviceToken']" [(ngModel)]="user.deviceToken">
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="ssn" placeholder="SSN" [formControl]="userFrom.controls['ssn']" [(ngModel)]="user.ssn">
                        </mat-form-field>
                    </div> -->
                </div>
            </div>
            <button mat-raised-button color="warn" (click)="back()">Back</button>
            <button class="submitBtn" mat-raised-button color="primary" [disabled]="userFrom.invalid">Submit</button>
        </form>
    </mat-card-content>
</mat-card>