<mat-card class="p-0">
    <mat-tab-group>

        <!-- ---------------------------------Media gallery-------------------------- -->

        <!-- <mat-tab *ngIf="user.role == 'P'" label="Media gallery">
            <mat-card-content class="mt-1">
                <mat-card class="p-0">
                    <mat-card-title class="m-0">
                        <div class="card-title-text">Media gallery</div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content class="p-0 showPics">
                        <mat-grid-list cols="3" rowHeight="1:1" class="app-gallery">
                            <mat-grid-tile *ngFor="let photo of user.uploadedImages;let i = index">
                                <img [src]="photo.picUrl" alt="">
                                <div class="gallery-control-wrap">
                                    <div class="gallery-control">
                                        <h4 class="photo-detail fz-1" [fxHide.lt-sm]="true">Photo {{i+1}}</h4>
                                        <span fxFlex></span>
                                        <button mat-icon-button [matMenuTriggerFor]="photoMenu" class="">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #photoMenu="matMenu">
                                            <button mat-menu-item (click)="deleteImage(photo)"><mat-icon>delete</mat-icon>Delete</button>
                                        </mat-menu>
                                    </div>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile class="addImage" *ngIf="!imgsURL" matTooltip="Add Photo" (click)="Input.click()">
                                <input #Input class="display" multiple accept="image/*" (change)="filesSelected($event)" type="file" name="myfile" />
                                <span style="color:red;" *ngIf="msg">{{msg}}</span>
                                <img [src]="imgsURL" height="300" *ngIf="imgsURL"><br>
                                <mat-icon>add_photo_alternate</mat-icon>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-tab> -->

        <!-- ---------------------------------Account Settings-------------------------- -->

        <mat-tab *ngIf="profileShow" label="Account Settings">
            <mat-card-content class="mt-1">
                <form (ngSubmit)="updateUser(user)">
                    <mat-form-field class="full-width">
                        <input matInput name="userName" [(ngModel)]="user.userName" placeholder="User Name">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput name="email" [(ngModel)]="user.email" placeholder="Email">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-select name="sex" placeholder="Gender" [(ngModel)]="user.sex">
                            <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                {{gender.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput name="phone" placeholder="Phone number" maxlength="10" [(ngModel)]="user.phoneNumber">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput name="website" placeholder="Website" value="">
                    </mat-form-field>
                    <button mat-raised-button color="primary">Save</button>
                </form>
            </mat-card-content>
        </mat-tab>

        <!-- ---------------------------------Profile Picture-------------------------- -->

        <mat-tab label="Profile Picture">
            <mat-card-content>
                <div class="mb-1 mt-1">
                    <p>Upload a profile picture</p>
                    <!-- <input type="file" ng2FileSelect [uploader]="uploader" /> -->
                    <input #file accept="image/*" (change)="fileSelect($event)" type="file" name="myfile" /> </div>
                <span style="color:red;" *ngIf="msg">{{msg}}</span>
                <!-- <input #file type="file" accept='image/*' (change)="preview(file.files)" />    another way -->
                <img [src]="imgURL" height="300" *ngIf="imgURL"><br>

                <!-- </div>

                <div class="mb-1">
                    <div ng2FileDrop [ngClass]="{'dz-file-over': hasBaseDropZoneOver}" [uploader]="uploader" (fileOver)="fileOverBase($event)" class="fileupload-drop-zone">
                        Drop png/jpeg file here
                    </div>
                </div>
                <table class="default-table mat-box-shadow" style="width: 100%">
                    <thead>
                        <tr>
                            <th width="30%">Name</th>
                            <th>Size</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="uploader.queue.length; else tableNoData">
                        <tr *ngFor="let item of uploader.queue">
                            <td>{{ item?.file?.name }}</td>
                            <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                            <td>
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                    <mat-progress-bar class="" color="primary" mode="determinate" [value]="item.progress">
                                    </mat-progress-bar>
                                </div>
                            </td>
                            <td class="">
                                <mat-icon *ngIf="item.isSuccess">check</mat-icon>
                                <mat-icon *ngIf="item.isCancel" color="accent">cancel</mat-icon>
                                <mat-icon *ngIf="item.isError" color="warn">error</mat-icon>
                            </td>
                            <td nowrap>
                                <button mat-raised-button class="mat-primary" (click)="uploadProfile(uploader.queue)" [disabled]="item.isReady || item.isUploading || item.isSuccess">Upload</button>
                                <button mat-raised-button class="mat-accent" (click)="item.cancel()" [disabled]="!item.isUploading">Cancel</button>
                                <button mat-raised-button class="mat-warn" (click)="item.remove()">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                    <ng-template #tableNoData>
                        <p [ngStyle]="{padding: '0 1.2rem'}">Queue is empty</p>
                    </ng-template>
                </table> -->
                <button mat-raised-button class="mat-primary" [disabled]="!imgURL" (click)="uploadProfile()">Upload</button>
                <!-- <button class="mt-1" style="align-items:flex-end;margin-left: 15px" mat-raised-button (click)="back()" color="warn">Back</button> -->
            </mat-card-content>
        </mat-tab>

        <!-- ---------------------------------reset password-------------------------- -->

        <mat-tab label="Reset Password">
            <mat-card-content class="mt-1">
                <form>
                    <mat-form-field class="full-width">
                        <input matInput [type]="show ? 'password' : 'text'" name="Old Password" [(ngModel)]="userPass.oldPassword" placeholder="Old Password">
                        <mat-icon class="cursor-pointer" matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput [type]="hide ? 'password' : 'text'" name="New Password" [(ngModel)]="userPass.newPassword" placeholder="New Password">
                        <mat-icon class="cursor-pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="!userPass.newPassword" (click)="resetPassword(userPass)">Update</button>
                    <!-- <button style="align-items:flex-end;margin-left: 15px;" mat-raised-button (click)="back()" color="warn">Back</button> -->
                </form>
            </mat-card-content>
        </mat-tab>

        <!-- ---------------------------------Privacy Settings-------------------------- -->

        <mat-tab label="Privacy Settings">
            <mat-card-content>
                <div class="mb-1 mt-1">
                    <mat-checkbox> Get weekly news in your email.</mat-checkbox>
                </div>
                <div class="mb-1">
                    <mat-checkbox> Get notification when someone follows you.</mat-checkbox>
                </div>
                <div class="mb-1">
                    <mat-checkbox> Get email when someone follows you.</mat-checkbox>
                </div>
                <div class="mb-1">
                    <p>Choose your admin panel color schemes.</p>
                    <mat-radio-group fxLayout="column" fxLayoutGap="4px">
                        <mat-radio-button value="indigo">Indigo</mat-radio-button>
                        <mat-radio-button value="blue">Blue</mat-radio-button>
                        <mat-radio-button value="pink">Pink</mat-radio-button>
                        <mat-radio-button value="purple">Purple</mat-radio-button>
                    </mat-radio-group>
                </div>
                <button mat-raised-button color="primary">Save</button>
            </mat-card-content>
        </mat-tab>
    </mat-tab-group>
</mat-card>