.cursor-pointer {
    cursor: pointer;
}

.addImage .mat-icon {
    z-index: 0;
    font-size: 50px;
    height: auto;
    width: auto;
    color: black;
}

.addImage:hover {
    font-size: 60px;
    background-color: #ccc;
    cursor: pointer;
}

.uploadBtn {
    float: right;
    margin: 12px;
    margin-right: 25px;
}

.display {
    display: none;
}

.showPics {
    max-height: 718px;
    overflow: auto;
}

.deleteImg .mat-icon {
    font-size: 20px;
}